.headerStyles {
  background-color: var(--rainstorm);
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;
  align-items: center;
  position: relative;
}

.headerTitle {
  font-size: 1.3rem;
  color: white;

  @media screen and (min-width: 768px) {
    font-size: 2rem;
  }
}

.mobileMenuIcon {
  color: white;
  scale: 1.8;
  z-index: 11;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.navLinks {
  position: absolute;
  list-style: none;
  top: 0;
  right: 0;
  background-color: var(--blue-hosta);
  height: 100vh;
  z-index: 10;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
  padding: 4rem 5rem 0 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  transition: transform 0.3s ease-in-out;

  @media screen and (min-width: 768px) {
    position: static;
    background-color: transparent;
    height: auto;
    flex-direction: row;
    box-shadow: none;
    padding: 0;
  }
}

.open {
  transform: translateX(0%);
}

.closed {
  transform: translateX(100%);
  @media screen and (min-width: 768px) {
    transform: translateX(0%);
  }
}

.navLink {
  font-size: 1.3rem;
  font-weight: bold;

  @media screen and (min-width: 768px) {
  }
}

.navLink:hover {
  color: var(--azul-primavera);
}

.active {
  color: var(--cold-white);
}

.inactive {
  color: var(--millstream);
}
