:root {
  --rainstorm: #264653;
  --azure-tide: #2a9d8f;
  --azure-tide-light: #edfaf9;
  --golden-chalice: #e9c46a;
  --shrimp-cocktail: #f4a261;
  --bloodletter: #e76f51;
}
/* https://coolors.co/palette/264653-2a9d8f-e9c46a-f4a261-e76f51 */

/* @media (prefers-color-scheme: dark) {
  :root {
    );
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#main-parent {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#main-children {
  flex: 1;
  background-color: var(--azure-tide-light);
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem;
}

.sectionTitle {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--azure-tide);
}

.sectionWrapper {
  max-width: 1000px;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}
