.imageWrapper {
  height: 300px;
  width: 300px;

  position: relative;
  display: flex;
  justify-content: flex-end;
  margin: auto;
  max-width: 100%;
}

.bioText {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
