.imageWrapper {
  min-width: 300px;
  min-height: 300px;
  position: relative;
  flex: 1;
}

.bioText {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
