.bioSection {
  display: flex;
  /* border: 3px solid red; */
  max-width: 1000px;
  margin: 60px auto;
  padding: 0px 60px;
}

.imageWrapper {
  min-width: 300px;
  min-height: 300px;
  position: relative;
  flex: 1;
}

.bioText {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
.sectionTitle {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--azure-tide);
}
