.postBody {
  margin: 2rem 0 1rem 0;
}

.comments {
  /* this is the ul */
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  line-height: 1.4rem;
}

.quote {
  display: flex;
  justify-content: flex-end;
  margin: 1.2rem 0;
}

.quoteLine {
  width: fit-content;
  position: relative;
}

.quoteLine::before {
  content: "";
  position: absolute;
  left: -5rem;
  height: 2px;
  width: 4rem;
  background: var(--rainstorm);
  top: 50%;
}

.goBack {
  padding: 0.5rem;
  margin-left: -0.5rem;
  width: fit-content;
  margin-bottom: 2rem;
}

.goToUser {
  padding: 0.5rem;
  margin-left: -0.5rem;
  width: fit-content;
  margin-bottom: 2rem;
}
